<div class="contents row">
  <div class="line_chart">
    <%= line_chart @weights.chart_date, width: "90%", height: "500px",label: "体重記録",xtitle: "日付",ytitle: "体重(kg)"%>
  </div>
  <div class="data">
    <% @weights.each do |weight| %>
      <% if user_signed_in? && current_user.id == weight.user_id %>
        <div class="date">
          <p><%= weight.date %>日目</p>
        </div>
        <div class="value">
          <p><%= weight.value %>kg</p>
        </div>
        <div class="destroy">
          <%= link_to '削除', weight_path(weight.id), method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
