<div class="contents">
  <% @weights.each do |weight| %>
    <div class="date">
      <p><%= weight.date %>日目</p>
    </div>
    <div class="value">
      <p><%= weight.value %>kg</p>
    </div>
  <% end %>
</div>
